@import "variables";

* {
  margin: 0;
  padding: 0;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin carousel {
  background-position: center;
  background-size: cover;
  padding-bottom: 300px;
}


.up-btn {
  border: 1px solid black;
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 5%;
  z-index: 99999;
  &:hover {
    cursor: pointer;
  }
  @media only screen and (max-width: 800px) {
    margin: 0 5% 10% 0;
  }
}

// ############################ HOME ##########################
.home {
  display: flex;
  flex-direction: column;
  .home-top, .home-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    .store {
      border: 1px solid black;
      box-sizing: border-box;
      background-size: cover;
      height: 50%;
      width: 50%;
      .overlay{
        position: relative;
        background-color:rgba(0,0,0,0.5);
        height:100%;
        width:100%;
        transition-duration: 0.2s;
        &:hover {
          background-color:rgba(0,0,0,0.0);
        }
        div {
          text-align: center;
          color: white !important;
          @include center;
        }
      }
    }
  }
}

// ############################ NAVBAR ##########################
.fixed-navbar {
  display: none;
  background-color: white;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  ul {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
    top: 0;
    li {
      font-size: 1.5em;
      list-style: none;
      padding-top: 10px;
    }
    a {
      color: black;
      text-decoration: none;
    }
    .dropDownIcon {
      display: none;
    }
  }
}

.navbar {
  background-color: white;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9000;
  ul {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
    top: 0;
    li {
      font-size: 1.5em;
      list-style: none;
      padding-top: 10px;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.hide {
  display: none;
}

.nav-logo {
  font-family: 'Fredoka One', cursive;
  a {
    color: orange !important;
  }
}


// ############################ HEADER ##########################
.header-logo {
  @include center;
  h1 {
    color: $header-color;
  }
}

.darken{
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
}

// ############################ ABOUT ##########################
.about {
  display: flex;
  justify-content: space-evenly;
  margin-top: $margin-top;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    .about-text {
      order: 1;
    }
    .about-img {
      order: 2;
    }
  }
  .about-img {
    @include carousel;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
  .about-text {
    h1 {
      text-align: center;
    }
    p {
      padding: 20px;
    }
  }
}

// ############################ CAROUSEL ##########################
.carousel {
  margin-top: $margin-top;
  .carousel-item-1 {
    background-image: url('../images/3.jpg');
    @include carousel;
  }
  .carousel-item-2 {
    background-image: url('../images/5.jpg');
    @include carousel;
  }
  .carousel-item-3 {
    background-image: url('../images/7.jpg');
    @include carousel;
  }
}

// ############################ MENU ##########################
.menu-bg {
  background-image: url("../images/menu.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.menu {
  margin-top: $margin-top;
  h1 {
    padding-top: 20px;
  }
  @media only screen and (max-width: 800px) {
    background-image: url("../images/menu.png");
    background-size: cover;
    background-position: calc(100% - 10%) calc(100% - 10px);
    min-height: 100vh;
    h1 {
      text-align: center;
    }
  }
}

.menu-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  padding-top: 40px;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    .menu-nav {
      ul {
        text-align: center;
      }
    }
  }
  .menu-nav {
    margin-left: 5%;
    width: 100%;
    ul {
      li {
        color: gray;
        list-style: none;
        &:hover {
          cursor: pointer;
        }
        span {
          font-size: 1.5em;
          &:hover {
            border-bottom: 2px solid orange;
            color: black;
            transition: color .2s ease-in-out;
          }
        }
      }
    }
  }
}

.menu-display {
  padding-bottom: 20px;
  padding-left: 20px;
  margin-right: 5%;
  max-width: 50%;
  @media only screen and (max-width: 800px) {
    margin: 0 auto;
    max-width: 100%;
  }
}

.item-grid {
  display: grid;
  grid-template-columns:1fr 1fr;
  margin-top: 20px;
  // grid-template-columns:1fr 1fr 1fr; in case they want chinese items
}

.item-grid-drink {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  margin-top: 20px;
  div:not(:first-child) {
    text-align: right;
  }
}

.item-grid-drink-2 {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  div:not(:first-child) {
    text-align: right;
  }
}

.item-price {
  text-align: right;
}

// ############################ GALLERY ##########################
.gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;;
  margin-top: $margin-top;
  h1 {
    padding-bottom: 20px;
    text-align: center;
  }
}

.grid-item {
  width:33.33%;
  img {
    padding: 3px;
    max-width: 100%;
    @media only screen and (max-width: 800px) {
      padding: 1px;
    }
  }
}

.gal-modal {
  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}

.modal-img {
  max-width: 100%;
}

// ############################ CONTACT ##########################
.contact {
  // background: linear-gradient(to bottom right, #B2FF59, #CCFF90);
  background-image: url('../images/contactbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.contact-info {
  div {
    background-color: white;
    margin: 0 auto;
    margin-top: -120px;
    position: relative;
    width: 50%;
    z-index: 999;
    transition: .3s;

    @media only screen and (max-width: 800px) {
      margin-top: 10px;
      width: 100%;
    }
    h2 {
      padding-top: 20px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      font-size: .8em;
      text-align: center;
    }
    .hours {
      padding-bottom: 40px;
    }
  }
}

.contact-header {
  // font-family: $body-font;
}

@media only screen and (max-width: 800px) {
  .fixed-navbar {
    display: block;
  }
  .navbar {
    display: none;
  }

  ul.navbar-list {
    li:not(:nth-child(3)) {
      display: none;
    }
    li.dropDownIcon {
      display: block;
      padding-right: 10px;
    }
    .nav-logo {
      margin: 0 auto;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }

  ul.responsive {
    display: flex;
    flex-direction: column;
    width: 100%;
    li {
      text-align: left;
      padding-left: 10px;
    }
    li:nth-child(3) {
      display: none;
    }
    .dropDownIcon {
      display: block;
      position: absolute;
      top: 0;
      padding-right: 10px;
      right: 0;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }

  .menu-container .menu-nav {
    margin-left: 0;
  }

  .modal-img {
    max-width: 300px;
  }
}
